.sidebar {
    color: var(--sidebar-content-color);
    flex: 0.1;
    background-color: var(--app-color);
    border-right: 1px solid var(--border-color);
    box-shadow: rgb(229 239 255) 0px 1px 3px 0px;
    max-width: 260px;
}

.sidebar > hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
}

.sidebar__info {
    flex: 1;
}

.sidebar__info > h2 {
    color: black;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}

.sidebar__info > h3 {
    color: black;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
    font-size: 14px;
    margin-top: 1px;
    margin-right: 2px;
    color: green;
}
