.sidebarOption {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.sidebarOption:hover {
    opacity: 0.9;
    color: var(--hover-text-color);
    background-color: var(--hover-color);
}
.sidebarOption__icon {
    margin: auto;
    padding: 12px;
    font-size: 20px !important;
}

.sidebarOption__channel {
    padding: 10px 0;
}

.sidebarOption__hash {
    padding: 10px;
}

/* .sidebarOption > h3 {
    font-weight: 500;
} */
/* Tool Tip */
  
  .sidebarOption .tooltiptext {
    visibility: hidden;
    font-size: 14px;
    width: 120px;
    background-color: var(--tool-tip);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    left: 8%;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .sidebarOption:hover .tooltiptext {
    visibility: visible;
  }